<h1>Tomedo-Statistik</h1>

<h2>Anzahl der Termine je Terminart</h2>

<%= content_tag :div, "", id: "appointments", data: {appointments: @appointments} %>

<script>
new Morris.Bar({
  // ID of the element in which to draw the chart.
  element: 'appointments',
  data: $('#appointments').data('appointments'),

  // The name of the data record attribute that contains x-values.
  xkey: 'bezeichnung',

  // A list of names of data record attributes that contain y-values.
  ykeys: ['anzahl_termine'],
  xLabelAngle: 45,

  // Labels for the ykeys -- will be displayed when you hover over the
  // chart.
  labels: ['Anzahl Termine']
});
</script>
